
<!--
 *  Team Terminator HaveYouAll
 *  @version 1.0
 * Date: 5/8/2023
 * This is a HTML file for group project. Our group is doing a forumn based project.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  import bootstrap files and css file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="328/haveyouall/styles/styles.css">

    <!-- TODO: The current icon is a placeholder. We should find something better eventually. -->
    <link rel="icon" href="images/mbox-icon.png">

    <title>HaveYouAll - Home</title>
</head>
<body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="container">
    <div class="row">

        <div class="col-lg-9 mb-3">
            <div class="row text-left mb-5">
                <div class="col-lg-6 mb-3 mb-sm-0">
                    <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50">
                        <select class="form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" data-toggle="select">
                            <option> Categories </option>
                            <option> Action </option>
                            <option> Adventure </option>
                            <option> FPS </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50">
                        <select class="form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50" data-toggle="select">
                            <option> Filter by </option>
                            <option> Votes </option>
                            <option> Reply's </option>
                            <option> Views </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>

                            <a href="#" class="text-primary">Call of Duty</a>
                        </h5> <img src = "images/place.jpg"  width="200"
                                   height="200" alt="Placeholder Pic">
                        <p class="text-sm">Posted by: <a class="text-black" href="#">20 minutes</a> ago by</span> <a class="text-black" href="#">Michael</a></p>

                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">2 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">5 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">290 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary">DeadSpace</a>
                        </h5>
                        <p class="text-sm">Posted by: <a class="text-black" href="#">1 hour ago</a> ago by</span> <a class="text-black" href="#">James</a></p>
                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">10 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">16 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">170 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary">OverWatch</a>
                        </h5>
                        <p class="text-sm">Posted by: <a class="text-black" href="#">2 hours ago</a> ago by</span> <a class="text-black" href="#">Darius</a></p>
                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">3 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">7 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">112 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary">Pokemon</a>
                        </h5>
                        <p class="text-sm">Posted by: <a class="text-black" href="#">2 days ago</a> ago by</span> <a class="text-black" href="#">Stuart</a></p>
                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">22 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">59 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">522 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary"> The Legend of Zelda</a>
                        </h5>
                        <p class="text-sm">Posted by: <a class="text-black" href="#">1 week ago</a> ago by</span> <a class="text-black" href="#">marcus</a></p>
                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">2 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">5 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">290 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0 mt-lg-0">
            <div style="visibility: hidden; display: none; width: 285px; height: 801px; margin: 0px; float: none; position: static; inset: 85px auto auto;"></div>
            <a class="btn btn-lg btn-block btn-success " href="#">Ask Question</a>
            <a class="btn btn-lg btn-block btn-success" href="#">Login / Sign Up</a>

            <div class="bg-white mb-3">
                <h4 class="px-3 py-4 op-5 m-0">
                    Active Topics
                </h4>
                <hr class="m-0">
                <div class="pos-relative px-3 py-3">
                    <h6 class="text-primary text-sm">
                        <a href="#" class="text-primary">Sample Text </a>
                    </h6>
                    <p class="mb-0 text-sm"> Posted <a class="text-black" href="#">39 minutes</a> ago by <a class="text-black" href="#">gigglypig</a></p>
                </div>
                <hr class="m-0">
                <div class="pos-relative px-3 py-3">
                    <h6 class="text-primary text-sm">
                        <a href="#" class="text-primary">Sample Text </a>
                    </h6>
                    <p class="mb-0 text-sm">Posted <a class="text-black" href="#">58 minutes</a> ago by <a class="text-black" href="#">happyunicorn</a></p>
                </div>
                <hr class="m-0">
                <div class="pos-relative px-3 py-3">
                    <h6 class="text-primary text-sm">
                        <a href="#" class="text-primary">Sample Text </a>
                    </h6>
                    <p class="mb-0 text-sm">Posted <a class="text-black" href="#">48 minutes</a> ago by <a class="text-black" href="#">extraordinary</a></p>
                </div>
                <hr class="m-0">
                <div class="pos-relative px-3 py-3">
                    <h6 class="text-primary text-sm">
                        <a href="#" class="text-primary">Sample Text </a>
                    </h6>
                    <p class="mb-0 text-sm">Posted <a class="text-black" href="#">38 minutes</a> ago by <a class="text-black" href="#">luckygarner</a></p>
                </div>
                <hr class="m-0">
            </div>
            <div class="bg-white text-sm">
                <h4 class="px-3 py-4 op-5 m-0 roboto-bold">
                    Stats
                </h4>
                <hr class="my-0">
                <div class="row text-center d-flex flex-row op-7 mx-0">
                    <div class="col-sm-6 flex-ew text-center py-3 border-bottom border-right"> <a class="d-block lead font-weight-bold" href="#">33</a> Topics </div>
                    <div class="col-sm-6 col flex-ew text-center py-3 border-bottom"> <a class="d-block lead font-weight-bold" href="#">998</a> Posts </div>
                </div>
                <div class="row d-flex flex-row op-7">
                    <div class="col-sm-6 flex-ew text-center py-3 border-right "> <a class="d-block lead font-weight-bold" href="#">162</a> Members </div>
                    <div class="col-sm-6 flex-ew text-center py-3 "> <a class="d-block lead font-weight-bold" href="#">luckygarner</a> Newest Member </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>