<div class="container">
    <div class="row">
        <div class="col-lg-9 mb-3">
            <div class="row text-left mb-5">
                <div class="col-lg-6 mb-3 mb-sm-0">
                    <div class=" bg-white bg-op-9 text-sm w-lg-50">
                        <!-- TODO:
                            This is a hack to prevent PHPStorm from displaying warnings about the select element
                            missing a label. Right now, the first option is used to identify what the dropdown does,
                            but this should be improved in the future. -->
                        <label class="w-100">

                                <button class="btn btn-secondary dropdown-toggle w-100" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </button>
                                <div class="dropdown-menu" >
                                    <button class="dropdown-item" type="button">Action</button>
                                    <button class="dropdown-item" type="button">Adventure</button>
                                    <button class="dropdown-item" type="button">FPS</button>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <div class="bg-white bg-op-9 ml-auto text-sm w-lg-50">
                        <!-- TODO: Same as the previous select -->
                        <label class="w-100">
                            <button class="btn btn-secondary dropdown-toggle w-100" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Filter by
                            </button>
                            <div class="dropdown-menu" >
                                <button class="dropdown-item w-100" type="button">Votes</button>
                                <button class="dropdown-item" type="button">Replies</button>
                                <button class="dropdown-item" type="button">Views</button>
                            </div>


                        </label>
                    </div>
                </div>
            </div>

            <check if="{{ count(@posts) > 0 }}">
                <true>
                    <repeat group="{{ @posts }}" key=" {{ @id }}" value=" {{ @post }}">
                        <include href="view/post_template.html">
                    </repeat>
                </true>
                <false>
                    <h1>There are no posts yet...</h1>
                </false>
            </check>

            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary">Call of Duty</a>
                        </h5> <img src = "images/place.jpg"  width="200"
                                   height="200" alt="Placeholder Pic">
                        <p class="text-sm">Posted <a class="text-black" href="#">20 minutes ago</a> by <a class="text-black" href="#">Michael</a></p>

                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">2 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">5 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">290 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary">DeadSpace</a>
                        </h5>
                        <p class="text-sm">Posted <a class="text-black" href="#">1 hour ago</a> by <a class="text-black" href="#">James</a></p>
                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">10 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">16 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">170 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary">OverWatch</a>
                        </h5>
                        <p class="text-sm">Posted <a class="text-black" href="#">2 hours ago</a> by <a class="text-black" href="#">Darius</a></p>
                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">3 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">7 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">112 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary">Pokemon</a>
                        </h5>
                        <p class="text-sm">Posted <a class="text-black" href="#">2 days ago</a> by <a class="text-black" href="#">Stuart</a></p>
                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">22 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">59 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">522 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary"> The Legend of Zelda</a>
                        </h5>
                        <p class="text-sm">Posted <a class="text-black" href="#">1 week ago</a> by <a class="text-black" href="#">marcus</a></p>
                        <div class="text"><p> Keywords: </p></div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">2 Votes</span> </div>
                            <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">5 Reply's</span> </div>
                            <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">290 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0 mt-lg-0">


            <!-- Active Topics -->
            <div class="bg-white mb-3">
                <h4 class="px-3 py-4 op-5 m-0">
                    Active Topics
                </h4>

                <repeat group="{{ @activeTopics }}" key="{{ @id }}" value="{{ @post }}">
                    <hr class="m-0">
                    <div class="pos-relative px-3 py-3">
                        <h6 class="text-primary text-sm">
                            <a href="{{ @BASE }}/post/{{ @id }}" class="text-primary">{{ @post->getTitle() }}</a>
                        </h6>
                        <p class="mb-0 text-sm"> Posted {{ date('M d, Y g:ia', strtotime(@post->getTime())) }} by {{ @post->getUser()->getName() }}</p>
                    </div>
                </repeat>
                
                <hr class="m-0">
            </div>

            <!-- Stats -->
            <div class="bg-white text-sm">
                <h4 class="px-3 py-4 op-5 m-0 roboto-bold">
                    Stats
                </h4>
                <hr class="my-0">
                <div class="row text-center d-flex flex-row op-7 mx-0">
                    <div class="col-sm-6 flex-ew text-center py-3 border-bottom border-right"> <span class="d-block lead font-weight-bold">{{ @stats->getTopics() }}</span> Topics </div>
                    <div class="col-sm-6 col flex-ew text-center py-3 border-bottom"> <span class="d-block lead font-weight-bold">{{ @stats->getPosts() }}</span> Posts </div>
                </div>
                <div class="row d-flex flex-row op-7">
                    <div class="col-sm-6 flex-ew text-center py-3 border-right "> <span class="d-block lead font-weight-bold">{{ @stats->getMembers() }}</span> Members </div>
                    <div class="col-sm-6 flex-ew text-center py-3 "> <span class="d-block lead font-weight-bold">{{ @stats->getNewestUserName() }}</span> Newest Member </div>
                </div>
            </div>
        </div>
    </div>
</div>