<div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning">
  <div class="row align-items-center">
    <div class="col-md-8 mb-3 mb-sm-0">
      <h5>
        <a href="{{ @BASE }}/post/{{ @id }}" class="text-primary">{{ @post->getTitle() }}</a>
      </h5>
      <p class="text-sm">Posted {{ date('M d, Y g:ia', strtotime(@post->getTime())) }} by {{ @post->getUser()->getName() }}</p>
      <div class="text"><p> Keywords: </p></div>
    </div>
    <div class="col-md-4 op-7">
      <div class="row text-center op-7">
        <div class="col px-1"> <i class="bi bi-star-fill"></i> <span class="d-block text-sm">? Votes</span> </div>
        <div class="col px-1"> <i class="bi bi-reply"></i> <span class="d-block text-sm">{{ @post->getReplyCount() }} Replies</span> </div>
        <div class="col px-1"> <i class="bi bi-eye"></i> <span class="d-block text-sm">{{ @post->getViews() }} Views</span> </div>
      </div>
    </div>
  </div>
</div>