<div class="container" xmlns="">
  <form method="post" class="mx-auto mt-4 w-50 text-center px-4 pt-4 pb-2 bg-light border rounded">

    <h1>Create post</h1>
    <div class="form-floating my-1">
      <input id="title" type="text" class="form-control" name="title" placeholder="Post Title" required value="{{ @userTitle }}">
      <label for="title">Post Title</label>
      <check if="{{ isset(@errors['title']) }}">
        <div class="err">{{ @errors['title'] }}</div>
      </check>
    </div>
    <div class="form-floating my-1">
      <textarea id="body" class="form-control" name="body" placeholder="Text" rows = "6" required>{{ @userBody }}</textarea>
      <label for="body">Text</label>
      <check if="{{ isset(@errors['body']) }}">
        <div class="err">{{ @errors['body'] }}</div>
      </check>
    </div>


    <include href="view/form_errors.html"></include>


    <button class="btn btn-primary my-1 w-50">Submit</button>


  </form>
</div>
