<div class="container">
<check if="{{ isset(@post) }}">
    <true>
        <h1>{{ @post->getTitle() }}
        (
            <a href="{{ @BASE }}/vote/{{ @post->getId() }}"><i class="bi bi-star-fill"></i></a>
            {{ @post->getVotes() }}
        )
        </h1>
        <p>{{ @post->getBody() }}</p>
        <p>Posted by {{ @post->getUser()->getName() }} on {{ @post->getTime() }}</p>

        <p><a href="{{ @BASE }}/report/{{ @postId }}">Report</a></p>

        <check if="{{ Validation::isAdmin() }}">
            <p><a href="{{ @BASE }}/remove/{{ @postId }}">Delete</a></p>
        </check>

        <form method="post">
            <div class="form-floating my-1">
                <textarea id="reply" class="form-control" name="reply" placeholder="Reply" rows = "6" required>{{ @userReply }}</textarea>
                <label for="reply">Reply</label>
                <check if="{{ isset(@errors['reply']) }}">
                    <div class="err">{{ @errors['reply'] }}</div>
                </check>
            </div>

            <button class="btn btn-primary my-1">Post Reply</button>
        </form>
        <hr>

        <repeat group="{{ @replies }}" value="{{ @reply }}">
            <div class="my-4">
                {{ @reply->getUser()->getName() }} on {{ @reply->getDate() }}:<br>
                {{ @reply->getText() }}
            </div>
        </repeat>
    </true>
    <false>
        <h1>Post not found</h1>
    </false>
</check>
</div>